@font-face {
    font-family: 'ZillaSlab-Bold';
    src: url('woff/ZillaSlab-Bold.woff') format('woff'),
        url('woff2/ZillaSlab-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ZillaSlab-Medium';
    src: url('woff/ZillaSlab-Medium.woff') format('woff'),
        url('woff2/ZillaSlab-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ZillaSlabHighlight-Bold';
    src: url('woff/ZillaSlabHighlight-Bold.woff') format('woff'),
        url('woff2/ZillaSlabHighlight-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ZillaSlabHighlight-Regular';
    src: url('woff/ZillaSlabHighlight-Regular.woff') format('woff'),
        url('woff2/ZillaSlabHighlight-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}